.display-box {
  background: var(--card-color);
  border: var(--accent-color) 1px solid;
  box-sizing: border-box;
  color: var(--text-color);
  display: block;
  height: 100%;
  margin: var(--card-margin);
  padding: var(--card-padding);
  h2 {
    color: var(--accent-color);
    margin: 5px;
    font-family: var(--accent-text);
    text-align: center;
  }
  p {
    text-align: center;
  }
}
