.series-box {
  h2 {
    color: var(--snes-blue);
    font-family: var(--accent-text);
    margin: 5px;
    text-align: start;
  }
  .series-desc {
    color: var(--snes-lite);
    margin: 5px;
  }
}
