.sidebar-area {
  margin-bottom: 10px;
  ul {
    li {
      color: var(--accent-color);
      display: block;
      font-family: var(--main-font);
      margin: 0.5em;
      transition: 0.25s;
      &:hover {
        color: var(--snes-blue);
        cursor: pointer;
      }
      &.selected {
        color: #888;
        pointer-events: none;
      }
      a * {
        pointer-events: none;
      }
    }
  }
}

.sidebar-label {
  color: var(--snes-blue);
  height: 10px;
}

.social-groups {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.social-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  li {
    font-size: 1.5em;
  }
}

@media (max-width: 750px) {
  .sidebar-area {
    margin-bottom: 0;
    &:first-child ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
  .social-box {
    li {
      font-size: 1.2em;
    }
  }
}
